* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


ul,ol {
    margin: 0;
    padding-left: 0;    
    list-style: none;
}

button {
    cursor: pointer;  
}

body {
  background-color: #888;
  color: #333;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.form input[type="text"] {
  flex: 1;
  padding: 10px 15px;
  border: 2px solid #333;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
  background-color: transparent;
  color: #333;
}

.form input[type="text"]:focus {
  outline: none;
  border-color: #555;
}

.form input::placeholder{
    color: #333;
}

.form button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: #555;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  list-style: none;
}

.gallery li {
  background-color: #888;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.gallery li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.gallery li img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.gallery li ul {
  padding: 10px;
  list-style: none;
}

.gallery li h2 {
    padding: 2px;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.gallery li h3 {
  font-size: 12px;
  color: #555;
  margin-bottom: 5px;
}

.gallery li p {
  font-size: 12px;
  color: #888;
}

.simple-lightbox .sl-caption {
  font-size: 14px;
  color: #fff;
}

/* ======= loader =========== */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #FF3D00 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}

.hidden {
  display: none;
}
